<p>video-dashboard works!</p>
<!-- <app-video-list
    [videoList]="myVideoList"
    (videoSelected)="playVideo($event)"></app-video-list> -->
<app-video-list
    [videoList]="myVideoList | async"
    (videoSelected)="selectedVideo = $event"></app-video-list>
<app-video-player [videoData]="selectedVideo"></app-video-player>
<app-stat-filters></app-stat-filters>
