/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  app-root,
  app-video-dashboard,
  app-video-list,
  app-video-player,
  app-stat-filters {
    display: block;
    border: 3px solid green;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }
  
  .highlighted {
    outline: 3px solid gold;
    background-color: yellow;
  }

  app-video {
    cursor: pointer;
    display: block;
  }